/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;

}

/* Styles */
#app, #app-container {
  height: 100%;
}

.story-map {
  width: 100%;
  height: 100%;
}
